parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: new.static
